@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #49a5d7;
  --foreground: #ffffff;
  --primary: #e8597b;
  --secondary: #ffd600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #49a5d7;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

h1 {
  font-family: var(--font-fredoka);
  font-weight: 800;
  font-size: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
