@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #9ef1ff;
  --foreground: #ffffff;
  --primary: #e8597b;
  --secondary: #ffd600;
  --black: #000000;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9ef1ff;
    --foreground: #ffffff;
    --black: #000000;
    --white: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

h1 {
  font-family: var(--font-fredoka);
  font-weight: 800;
  font-size: 32px;
}

p {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 20px;
}

.logo-image {
  height: 59px;
  width: 50px;
  object-fit: cover;
  margin-top: 15px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
